var html_res ='';
/*<% if @error %>
     html_res ='<tr class="danger">'+
        '<td><strong><%=@lexem%></strong></td>'+
         '<td colspan="2"><%=@error%></td>'+
         '</tr>';
<%else %>*/
    <% @lexems.each_with_index do |lexem, i| %>
        html_res = html_res + '<tr>' +
            "<td rowspan='<%=@results[i].size%>'>"+
            "<strong><%= lexem %></strong>"+
            "</td>";
        <% @results[i].each do |x| %>
            html_res=html_res+'<%= escape_javascript (render x) %>';
            html_res= html_res+'</tr>';
            html_res= html_res+"<%= escape_javascript((x==@results[i].last)? '' : '<tr>') %>";
        <% end %>
    <% end %>
//<% end %>
$('.morph_sentence_info').html($('.morph_sentence_info tr:first'));
$('.morph_sentence_info tr:first').after(html_res);
$('.sentence_form form input[type=submit]').removeProp('disabled');
